<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Member List</title>
  <style>
    table {
      border-collapse: collapse;
      width: 1400px;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
<div>
  <table border="1">
    <thead>
    <tr>
      <th>ID</th>
      <th>측정시간</th>
      <th>측정소명</th>
      <th>이산화황</th>
      <th>일산화탄소</th>
      <th>오존</th>
      <th>이산화질소</th>
      <th>미세먼지</th>
      <th>초미세먼지</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="air : ${airs}">
      <td th:text="${air.id}"></td>
      <td th:text="${air.dataTime}"></td>
      <td th:text="${air.stationName}"></td>
      <td th:text="${air.so2Value}"></td>
      <td th:text="${air.coValue}"></td>
      <td th:text="${air.o3Value}"></td>
      <td th:text="${air.no2Value}"></td>
      <td th:text="${air.pm10Value}"></td>
      <td th:text="${air.pm25Value}"></td>
    </tr>
    </tbody>
  </table>

</div>
</body>
</html>